#App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#quote-box {
  width: 80%;
  margin: 1rem;
}

#footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  a {
    color: inherit;
    text-decoration: underline
  }
}
